/20 김송운
/baekjoon
/Cisco Webex Meetings.lnk
/desktop.ini
/Discord.lnk
/Eclipse IDE for Enterprise Java and Web Developers - 2022-12.lnk
/GalaxyBudsManager_1.0.190307.51
/GitHub Desktop.lnk
/hello.py
/java1
/main.py
/notion gif
/Notion.lnk
/OPIC STRATEGY.hwp
/Visual Studio Code.lnk
/Zoom.lnk
/기다린 만큼, 더.hwp
/기숙사 필요물품.txt
/뇌는 부정을 이해하지 못한다.txt
/성논레포트.txt
/전자오락